*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    min-height: 100vh;
    display: grid;
    line-height: 1.5;
    place-items:center;
}
.container{
    background-color: white;
    width: 50%;
    height: 35%;
    display: grid;
    place-items: center;
    border-radius: 20px;

}
span{
    font-size: 70px;
    color: brown;
}

button{
    padding: 4px 4px;
    background-color:aquamarine;
    border-radius: 5px;
    cursor: pointer;
    text-align: 10px;

}
button:hover{
    background-color: white;
}

